*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230, 218, 255, 0.75) 35%, rgba(203,246,255,0.77) 100%);
}
h1, h2{
    font-size: 3rem;
    font-weight: 600;
    color: #080000;
    padding: 3rem;
    text-align: center;
}
h2{
    color: brown;
    font-weight: 900;
    letter-spacing: 3px;
    padding-bottom: 0;
}
.coderhouse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coderhouse img{
    height: 100px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
.logo img{
    width: 20rem;
    height: 20rem;;    
}
footer p{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}
footer a{
    text-decoration: none;
    color: brown;
    font-weight: 900;
}
.botones{   
    gap: 1rem;
    min-width: 200px;
}
.footer{
    position: sticky;
    margin-top: 10rem;
    margin-bottom: 2rem;
}