*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
h1, h2{
    font-size: 3rem;
    font-weight: 600;
    color: #080000;
    padding: 3rem;
    text-align: center;
}
h2{
    color: brown;
    font-weight: 900;
    letter-spacing: 3px;
    padding-bottom: 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

}
.logo img{
    width: 30rem;
    height: 30rem;;    
}
